@charset "utf-8";
/* Carga de Fuentes */
@font-face{
  font-family: "robotoB";
  src: url("../fonts/Roboto-Black.ttf");
}

@font-face{
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

/* Margenes y bordes */
*{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Border-Box Config */
html {
  box-sizing: border-box;
  }
*, *:before, *:after {
  box-sizing: inherit;
}

/* Background */
body{
  background: url(../img/backg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: roboto;
}

/* Contenedor Principal */
.content{
  width: 40%;
  margin: 100px auto;
  padding: 2rem;
  
  text-align: center;
  color: white;
  line-height: 1.5;

  background-color: rgba(20, 20, 20, 0.5);
  border-radius: 10px;
}

.content h1{
  margin-bottom: 2rem;
  font-family: robotoB;
}